
#zonaMsgPopupPWA { /*display:none;*/ z-index:10001; position:fixed; background: #ccc; top:0px; width:100%; left:0px; height:100%; }
.inputAreaBot { font-weight:bold; cursor:pointer;background:#000; color: #fff; padding:5px 30px 5px 30px; border:0px; }

